@page "/"

<h1>您好</h1>

<div>歡迎使用Deep Sea內政管理系統 for 戰意</div>
<div>如果使用上有任何問題請洽 <a target="_blank" href="https://discord.gg/rynNbhG">Discord</a> 並聯絡幹部</div>
<AuthorizeView>
	歡迎您 @context.User.Identity!.Name!
</AuthorizeView>
